/* CSS declarations go here */
/* LESS declarations go here */
@hl1: #CE5241;
@hl2: #004D47;

body{
  padding: 0;
  margin: 0;
}

header{
  position: relative;
  width: 100%;
  height: 250px;
  background: url("https://mobile.weedmaps.com/img/wm-bluedream-pattern-dark.png") center center repeat;
  .sign-in{
    position: absolute;
    right: 65px;
    top: 65px;
  }
  .brand{
    position: absolute;
    top: 50px;
    width: 100%;
    color: white;
    h1{
      font-weight: 900px;
      letter-spacing: 15px;
      font-size: 22px;
      text-shadow: 0px 5px 5px rgba(0,0,0,0.75);
    }
  }
  #nav{
    padding-top: 25px;
  }
  #login-sign-in-link{
    top: 10px;
    color: white;
    background: rgba(255,255,255,0.25);
    border: 1px solid white;
    padding: 10px 15px;
    margin:10px 0px;
    text-decoration: none;
  }
  #login-name-link{
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    &:before{
      content:"Welcome to the test, ";
      font-style: italic;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: initial;
    }
  }
  #login-dropdown-list {
    position: absolute;
    top: 45px;
    right: 10px;
    left: auto;
    background: rgba(255,255,255,0.95);
    .login-form{
      text-align: center;
    }
    .login-close-text{
      position: relative;
      float: right;
      padding-right: 15px;
      text-decoration: none;
      &:before{
        content:"X";
        position: absolute;
        right: 0;
      }
    }
  }
  #login-buttons #signup-link{
    float: none;
  }
}
#add-blog-post{
  width: 100%;
  position: absolute;
  bottom: -41px;
  .col-xs-12{
    border-radius: 6px;
    padding: 25px 15px;
    background: white;
    border: 1px solid #eee;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
  }
  input{
    height: 30px;
    width: 100%;
    &[type="submit"]{
      border-radius: 6px;
      background: @hl2;
      color: white;
      border: none;
      line-height: 30px;
    }
  }
}

#blog-posts{
  padding-top: 25px;
}
.blog-post-box{
  position: relative;
  // overflow: hidden;
  min-height: 325px;
  margin-top: 75px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
  .user-icon{
    border-radius: 10000px;
    border: 2px solid @hl1;
    background: white;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: -30px;
    img{
      margin: 5px;
      border-radius: 1000px;
      width: 48px;
      height: 48px;
    }
  }
  .post-title{
    border-radius: 5px 5px 0px 0px;
    padding: 15px 10px 10px;
    background: @hl1;
    color: white;
    text-transform: capitalize;;
    input{
      background: @hl1;
      border: 1px solid white;
    }
  }
  .post-content{
    padding: 15px;
    hr{
      width: 80px;
      border-top: 1px solid #ddd;
    }
  }
  .post-time-stamp{
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #ccc;
  }
  &.editable{
    padding-bottom:40px;
    .post-time-stamp{
      bottom: 45px;
    }
  }
  &.green{
    background: #fafafa;
    .user-icon{
      background: #fafafa;
      border-color: @hl2;
    }
    .post-title{
      background: @hl2;
    }
  }
  .delete{
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    color: white;
    border: none;
    line-height: 40px;
  }
  .nothing{
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    color: #999;
    border: none;
    border-top: 1px solid #ddd;
    line-height: 40px;
  }
}
