<head>
  <title>weedmaps_test</title>
</head>

<body>
    <header>
      {{#unless currentUser}}
      <div class="sign-in">
        <img src="http://s23.postimg.org/59pnjzn4r/signin.png" alt="Sign in to get started and make posts today!" width="170" height="auto"/>

      </div>
      {{/unless}}
      <div class="brand text-center">
        <img src="https://d14xs1qewsqjcd.cloudfront.net/assets/meteor-logo-white.png" />
        <br />
        <h1>TEST</h1>
      </div>

      {{#if currentUser}}
      <div id="add-blog-post">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
                <form class="new-blogpost">
                  <div class="col-xs-4">
                    <input type="text" name="title" placeholder="Blog post title"/>
                  </div>
                  <div class="col-xs-6">
                    <input type="text" name="content" placeholder="Your blog post content goes in here!"/>
                  </div>
                  <div class="col-xs-2">
                    <input type="submit" value="Post it!" />
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
      {{/if}}

      <div id="nav" class="container-fluid">
        <div class="col-xs-12 text-right">
          {{> loginButtons}}
        </div>
      </div>
    </header>

    <section id="blog-posts">
      <div class="container">
        <div class="row">
          {{#each blogposts}}
            {{> blogpost}}
          {{/each}}
        </div>
      </div>
    </section>

</body>


<Template name="blogpost">
  <div class="col-xs-12 col-sm-4 col-md-3 text-center">
    <div class="blog-post-box {{#if currentUser}}editable{{/if}} {{#if checked}}green{{/if}}">
      <div class="user-icon">
        <img src="http://payload133.cargocollective.com/1/8/257719/4975505/pixelman.jpg" />
      </div>
        <div class="post-title">
          <h3>{{username}}</h3>
        </div>
        <div class="post-content">
          <h4>{{title}}</h4>
          <hr />
          <p>
            {{content}}
          </p>
        </div>
        <p class="post-time-stamp">
          <small><i>Posted On: <u><b>{{createdAt}}</b></u></i> <br /></small>
        </p>
        {{#if currentUser}}
          {{#if isOwner}}
            <button class="delete">Delete Blog Post</button>
            {{else}}
            <button class="nothing">This is not your post!</button>
          {{/if}}
        {{/if}}
    </div>
    {{#if isOwner}}
      <input type="checkbox" checked="{{checked}}" class="toggle-checked"/> Check box to update post as read.
    {{/if}}

  </div>
</template>

<footer>
  <div class="col-xs-12 text-center">
      <hr />
      DONE
  </div>
</footer>
